<!DOCTYPE html>
<html>
<head>
    <title>测试接口</title>
    <script src="/static/js/jquery-1.6.js" type="text/javascript" charset="utf-8"></script>	
	<script src="/static/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/static/js/uploadify/uploadify.css" type="text/css">
</head>
<body>
    <form action="/upload " method="POST" enctype="multipart/form-data">
        <label>测试接口</label>
        <div >
            <div>路径:<input type="text" name="path"></div>
            <div>密钥:<input type="text" name="token"></div>
            <label>附件：</label>
            <input type="file" name="file" class="form-control" >
        </div>
        <input type="submit" name="确定"Submit/>
    </form> 
   	
</form>
<body>
    <form action="/picture " method="POST" enctype="multipart/form-data">
        <label>测试接口</label>
        <div >
            <div>路径:<input type="text" name="url"></div>
            <div>图片宽度:<input type="text" name="imgWidth"></div>
            <div>密钥:<input type="text" name="token"></div>
            <div>图片高度:<input type="text" name="imgHeight"></div>
        </div>
        <input type="submit" name="确定"Submit/>
    </form> 
    
</form>
</body>
</html>
